<div class="m-5">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h2>Update the drone</h2>
        {{!-- <form action="/drones/{{_id}}/edit" method="post">
            <label for="">
                Name: <input type="text" class="form-control" name="name" value="{{name}}">
            </label>
            <label for="">
                Propeller: <input type="number" class="form-control" name="propellers" value="{{propellers}}">
            </label>
            <label for="">
                Max speed: <input type="number" name="maxSpeed" value="{{maxSpeed}}">
            </label>
            <button type="submit">Update</button>
        </form> --}}
        <form action="/drones/{{_id}}/edit" method="POST">
            <div class="mb-3">
                <label class="form-label">Name</label>
                <input type="text" class="form-control" name="name" value="{{name}}">
            </div>
            <div class="mb-3">
                <label class="form-label">Propellers</label>
                <input type="text" class="form-control" name="propellers" value="{{propellers}}">
            </div>
            <div class="mb-3 ">
                <label class="form-label">max Speed</label>
                <input type="text" class="form-control" name="maxSpeed" value="{{maxSpeed}}">
            </div>
            <button type="submit" class="btn btn-success">Update</button>
        </form>
    </div>
</div>

{{!-- <form action="/drones/{{_id}}/edit" method="POST">
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" name="name" value="{{name}}">
    </div>
    <div class="mb-3">
        <label class="form-label">Propellers</label>
        <input type="text" class="form-control" name="propellers" value="{{propellers}}">
    </div>
    <div class="mb-3 ">
        <label class="form-label">max Speed</label>
        <input type="text" class="form-control" name="maxSpeed" value="{{maxSpeed}}">
    </div>
    <button type="submit">Update</button>
</form> --}}